{% extends 'base.html' %}
{% block display %}
<div id="blog-cotainer">
    <header class="sticky-top top-0 bg-light">
        <div class="container text-center">
            <a href="#" class="fw-bolder text-decoration-none fs-2">
                Blog
            </a>
        </div>
    </header>

    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-5 bg-light">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Album example</h1>
                    <p class="lead text-muted">Something short and leading about the collection below—its contents, the
                        creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it
                        entirely.</p>
                    <p>
                        <a href="#" class="btn btn-primary my-2">Main call to action</a>
                        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                    </p>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container-fluid d-flex flex-wrap w-100">
                {% for post in posts %}
                <div class="w-25 mx-5 py-3">
                    <h6 style="height: 50px;">{{post.title}}</h6>
                    <p class="card-text">{{post.post | slice:":200"}}</p>
                    <div class="my-3">
                        <strong>Authored by {{post.author }}</strong>
                    </div>
                    <a href="post{{post.pid}}">
                        <button class="btn btn-outline-secondary w-100">View Post</button>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

    </main>

</div>
{% endblock %}