{% extends 'base.html' %}
{% block display %}
<div id="mentors">
    {% for mentor in mentors %}
    <div class="d-flex px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="media/{{mentor.photo}}" alt="" width="300" height="300">
        <div class="col-lg-6 mx-auto pt-5">
            <h1 class="display-5 fw-bold">{{mentor.name}}</h1>
            <p class="lead mb-4">{{mentor.about}}</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center pt-5">
                <a href="{% url 'mentors' %}/{{mentor.link}}"><button type="button"
                        class="btn btn-outline-dark btn-lg px-4 gap-3">Know
                        More</button>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}